# Machine Learning Models

In [54]:
import pandas as pd

data = pd.read_csv('data/clean_train.csv')

In [2]:
from sklearn.model_selection import train_test_split as tts

## H2O

Empezamos utilizando h2o para probar diferentes modelos y compararlos entre ellos, obteniendo una visión general y una primera impresión de los modelos que pueden utilizar mejor.

In [3]:
#%pip install h2o

In [4]:
import h2o

from h2o.automl import H2OAutoML

In [66]:
# Inicializamos:

h2o.init()
    #nthreads=-1,     # number of threads when launching a new H2O server
    #max_mem_size=12)  # in gigabytes

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.13" 2021-10-19; OpenJDK Runtime Environment (build 11.0.13+8-Ubuntu-0ubuntu1.20.04); OpenJDK 64-Bit Server VM (build 11.0.13+8-Ubuntu-0ubuntu1.20.04, mixed mode, sharing)
  Starting server from /home/mario/miniconda3/envs/ironhack/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp7mzn3erc
  JVM stdout: /tmp/tmp7mzn3erc/h2o_mario_started_from_python.out
  JVM stderr: /tmp/tmp7mzn3erc/h2o_mario_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.3
H2O_cluster_version_age:    7 days, 23 hours and 4 minutes
H2O_cluster_name:           H2O_from_python_mario_wfo783
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.869 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.5 final
--------------------------  ------------------------------

In [6]:
train, test = tts(data, test_size=0.2, train_size=0.8, random_state=42)

train.to_csv('data/h2o_train.csv', index=False)

test.to_csv('data/h2o_test.csv', index=False)

In [7]:
# parseo de datos a h2o:

train = h2o.import_file('data/h2o_train.csv')
test = h2o.import_file('data/h2o_test.csv')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [8]:
X=train.columns
y='price'
X.remove(y)

In [9]:
# factor para clasificacion binaria

train[y]=train[y]
test[y]=test[y]

In [23]:
aml = H2OAutoML(max_models=5, seed=9)
aml.train(x=X, y=y, training_frame=train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_1_AutoML_5_20220223_194557


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,40.0,40.0,837235.0,20.0,20.0,20.0,1436.0,1862.0,1658.3

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 26109.313227192863
RMSE: 161.58376535776378
MAE: 57.913823111265124
RMSLE: 0.4463606930709987
Mean Residual Deviance: 26109.313227192863

ModelMetricsRegression: drf
** Reported on cross-validation data. **

MSE: 21944.047241754746
RMSE: 148.13523295203862
MAE: 56.85457973048084
RMSLE: 0.44557219272739884
Mean Residual Deviance: 21944.047241754746

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,56.806620,4.174632,61.566093,53.600174,51.650074,59.967360,57.249400
1,mean_residual_deviance,22357.605000,15525.601000,45632.970000,8032.312500,8347.736000,26905.348000,22869.662000
2,mse,22357.605000,15525.601000,45632.970000,8032.312500,8347.736000,26905.348000,22869.662000
3,r2,0.272840,0.341577,0.355119,0.390996,0.270434,0.635539,-0.287886
4,residual_deviance,22357.605000,15525.601000,45632.970000,8032.312500,8347.736000,26905.348000,22869.662000
5,rmse,141.972700,52.456593,213.618740,89.623170,91.365944,164.028490,151.227190
6,rmsle,0.442322,0.047269,0.501320,0.391225,0.396714,0.455945,0.466406

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-02-23 19:54:13,24.566 sec,0.0,NaN,NaN,NaN
1,,2022-02-23 19:54:14,25.277 sec,5.0,186.716159,68.096394,34862.924060
2,,2022-02-23 19:54:15,26.061 sec,10.0,195.550821,65.230578,38240.123745
3,,2022-02-23 19:54:16,27.566 sec,15.0,186.594555,62.052487,34817.527872
4,,2022-02-23 19:54:17,28.245 sec,20.0,165.756191,59.556959,27475.114719
5,,2022-02-23 19:54:18,29.426 sec,25.0,169.733070,59.360487,28809.314957
6,,2022-02-23 19:54:19,30.388 sec,30.0,160.911692,58.136421,25892.572614
7,,2022-02-23 19:54:20,31.275 sec,35.0,162.804130,57.995322,26505.184718
8,,2022-02-23 19:54:21,32.085 sec,40.0,161.583765,57.913823,26109.313227

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,Centrum-Oost,388908736.0,1.000000,0.125033
1,amenities,384954272.0,0.989832,0.123762
2,host_since,317864896.0,0.817325,0.102193
3,latitude,287006080.0,0.737978,0.092272
4,accommodates,271140960.0,0.697184,0.087171
5,host_verifications,257926960.0,0.663207,0.082923
6,longitude,257065056.0,0.660991,0.082646
7,host_total_listings_count,165834832.0,0.426411,0.053316
8,Entire home/apt,144531136.0,0.371633,0.046466
9,reviews_per_month,140693312.0,0.361764,0.045233
10,bathrooms_text,126383168.0,0.324969,0.040632
11,review_scores_rating,75889592.0,0.195135,0.024398
12,Private room,62346140.0,0.160310,0.020044
13,number_of_reviews,53106628.0,0.136553,0.017074
14,minimum_nights,43143720.0,0.110935,0.013871
15,host_identity_verified,35349356.0,0.090894,0.011365
16,Centrum-West,20731766.0,0.053308,0.006665
17,instant_bookable,16178636.0,0.041600,0.005201
18,host_is_superhost,10863496.0,0.027933,0.003493
19,De Pijp - Rivierenbuurt,9292919.0,0.023895,0.002988

See the whole table with table.as_data_frame()

In [25]:
lb=aml.leaderboard

lb.head(rows=lb.nrows)

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
DRF_1_AutoML_5_20220223_194557,21944,148.135,21944,56.8546,0.445572
StackedEnsemble_BestOfFamily_2_AutoML_5_20220223_194557,23115.8,152.039,23115.8,58.0279,nan
XGBoost_2_AutoML_5_20220223_194557,23973.4,154.833,23973.4,66.8892,nan
StackedEnsemble_BestOfFamily_5_AutoML_5_20220223_194557,24281.2,155.824,24281.2,64.324,nan
XGBoost_1_AutoML_5_20220223_194557,24422.5,156.277,24422.5,69.561,nan
StackedEnsemble_AllModels_4_AutoML_5_20220223_194557,24968.6,158.014,24968.6,61.7209,nan
StackedEnsemble_AllModels_1_AutoML_5_20220223_194557,26570.1,163.003,26570.1,58.7645,nan
StackedEnsemble_BestOfFamily_4_AutoML_5_20220223_194557,27114.3,164.664,27114.3,56.3529,nan
StackedEnsemble_BestOfFamily_1_AutoML_5_20220223_194557,27168.1,164.827,27168.1,66.0671,nan
StackedEnsemble_AllModels_3_AutoML_5_20220223_194557,29559.6,171.929,29559.6,57.6644,nan
GBM_1_AutoML_5_20220223_194557,31302.9,176.926,31302.9,57.2969,0.460852
GLM_1_AutoML_5_20220223_194557,32638.8,180.662,32638.8,58.6449,nan
StackedEnsemble_BestOfFamily_3_AutoML_5_20220223_194557,45248.9,212.718,45248.9,59.2188,0.448852
StackedEnsemble_AllModels_2_AutoML_5_20220223_194557,56935.6,238.612,56935.6,61.666,0.466253

## H2O Version 2

In [55]:
aml2 = H2OAutoML(max_models=10, seed=9)
aml2.train(x=X, y=y, training_frame=train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_BestOfFamily_4_AutoML_6_20220224_93115

No model summary for this model

ModelMetricsRegression: stackedensemble
** Reported on train data. **

MSE: 6600.660959035759
RMSE: 81.24445186617828
MAE: 39.315815967373254
RMSLE: 0.33189141182397114
Mean Residual Deviance: 6600.660959035759

ModelMetricsRegression: stackedensemble
** Reported on cross-validation data. **

MSE: 9350.900420224569
RMSE: 96.70005387911927
MAE: 54.518957321185304
RMSLE: 0.4421947342579452
Mean Residual Deviance: 9350.900420224569

In [58]:
lb2 =aml2.leaderboard

lb2.head(rows=lb2.nrows)

# Encontramos dos modelos relativamente decente.

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
StackedEnsemble_BestOfFamily_4_AutoML_6_20220224_93115,9350.9,96.7001,9350.9,54.519,0.442195
StackedEnsemble_AllModels_3_AutoML_6_20220224_93115,9381.47,96.858,9381.47,54.8875,0.448231
StackedEnsemble_BestOfFamily_3_AutoML_6_20220224_93115,19081.4,138.135,19081.4,61.9316,nan
GBM_3_AutoML_6_20220224_93115,20005.3,141.44,20005.3,58.4689,nan
XRT_1_AutoML_6_20220224_93115,20019.9,141.492,20019.9,60.2592,0.480129
GBM_2_AutoML_6_20220224_93115,20278.5,142.403,20278.5,59.0731,nan
GBM_4_AutoML_6_20220224_93115,20478.9,143.104,20478.9,58.7258,nan
DRF_1_AutoML_6_20220224_93115,21944,148.135,21944,56.8546,0.445572
StackedEnsemble_AllModels_1_AutoML_6_20220224_93115,22469.5,149.898,22469.5,64.2585,nan
StackedEnsemble_BestOfFamily_2_AutoML_6_20220224_93115,22751.2,150.835,22751.2,63.6802,nan
StackedEnsemble_AllModels_5_AutoML_6_20220224_93115,23003.1,151.668,23003.1,60.9832,nan
XGBoost_3_AutoML_6_20220224_93115,23178.5,152.245,23178.5,60.3899,nan
StackedEnsemble_BestOfFamily_6_AutoML_6_20220224_93115,23726,154.033,23726,61.2663,nan
XGBoost_2_AutoML_6_20220224_93115,23973.4,154.833,23973.4,66.8892,nan
XGBoost_1_AutoML_6_20220224_93115,24422.5,156.277,24422.5,69.561,nan
StackedEnsemble_BestOfFamily_5_AutoML_6_20220224_93115,25229,158.836,25229,56.6846,0.443666
StackedEnsemble_AllModels_4_AutoML_6_20220224_93115,25827.8,160.71,25827.8,57.4446,nan
StackedEnsemble_BestOfFamily_1_AutoML_6_20220224_93115,27168.1,164.827,27168.1,66.0671,nan
GBM_1_AutoML_6_20220224_93115,31302.9,176.926,31302.9,57.2969,0.460852
GLM_1_AutoML_6_20220224_93115,32638.8,180.662,32638.8,58.6449,nan
StackedEnsemble_AllModels_2_AutoML_6_20220224_93115,33750.5,183.713,33750.5,64.9574,nan

## H2O Version 3

In [61]:
aml3 = H2OAutoML(max_models=15, seed=99)
aml3.train(x=X, y=y, training_frame=train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_5_AutoML_8_20220224_114759


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,48.0,48.0,35004.0,6.0,6.0,6.0,34.0,64.0,53.375

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 3217.157293531621
RMSE: 56.7199902462229
MAE: 36.30978836599785
RMSLE: 0.32315989171327514
Mean Residual Deviance: 3217.157293531621

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 15772.099374923917
RMSE: 125.58701913384168
MAE: 56.26275431288259
RMSLE: 0.4462877547188671
Mean Residual Deviance: 15772.099374923917

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,55.996540,3.940807,60.451557,55.616146,49.709408,57.378807,56.826775
1,mean_residual_deviance,16293.780000,8974.422000,28037.932000,9222.496000,7941.144000,12762.636000,23504.695000
2,mse,16293.780000,8974.422000,28037.932000,9222.496000,7941.144000,12762.636000,23504.695000
3,r2,0.342793,0.432996,0.603770,0.300757,0.305969,0.827117,-0.323647
4,residual_deviance,16293.780000,8974.422000,28037.932000,9222.496000,7941.144000,12762.636000,23504.695000
5,rmse,123.775300,34.882957,167.445310,96.033830,89.113100,112.971830,153.312410
6,rmsle,0.447365,0.037746,0.492740,0.432410,0.391997,0.455372,0.464305

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-02-24 12:35:59,54.219 sec,0.0,193.467206,80.227498,37429.559685
1,,2022-02-24 12:36:00,55.950 sec,5.0,131.346479,63.600172,17251.897553
2,,2022-02-24 12:36:05,1 min 0.121 sec,10.0,101.373444,53.823246,10276.575135
3,,2022-02-24 12:36:08,1 min 3.501 sec,15.0,85.078535,48.368046,7238.357054
4,,2022-02-24 12:36:13,1 min 8.169 sec,20.0,75.338111,45.002442,5675.830966
5,,2022-02-24 12:36:16,1 min 11.610 sec,25.0,69.914585,42.526539,4888.049162
6,,2022-02-24 12:36:18,1 min 13.833 sec,30.0,66.457029,40.710586,4416.536734
7,,2022-02-24 12:36:21,1 min 16.063 sec,35.0,63.210493,38.997180,3995.566436
8,,2022-02-24 12:36:21,1 min 16.335 sec,40.0,60.372432,37.750473,3644.830594
9,,2022-02-24 12:36:24,1 min 19.440 sec,45.0,57.680971,36.836843,3327.094461
10,,2022-02-24 12:36:26,1 min 21.389 sec,48.0,56.719990,36.309788,3217.157294

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,amenities,9.674136e+07,1.000000,0.185704
1,Centrum-Oost,6.097524e+07,0.630291,0.117047
2,host_verifications,5.209220e+07,0.538469,0.099996
3,accommodates,4.808551e+07,0.497052,0.092304
4,longitude,4.708957e+07,0.486757,0.090393
5,host_since,4.171332e+07,0.431184,0.080072
6,number_of_reviews,3.144686e+07,0.325061,0.060365
7,review_scores_rating,2.318957e+07,0.239707,0.044514
8,latitude,2.221024e+07,0.229584,0.042635
9,Entire home/apt,2.052939e+07,0.212209,0.039408
10,bathrooms_text,1.533990e+07,0.158566,0.029446
11,reviews_per_month,1.362420e+07,0.140831,0.026153
12,host_total_listings_count,1.355410e+07,0.140107,0.026018
13,Private room,6.619774e+06,0.068428,0.012707
14,Oud-Noord,6.099051e+06,0.063045,0.011708
15,instant_bookable,5.209185e+06,0.053847,0.009999
16,minimum_nights,3.887630e+06,0.040186,0.007463
17,Centrum-West,3.179604e+06,0.032867,0.006104
18,De Pijp - Rivierenbuurt,2.688744e+06,0.027793,0.005161
19,host_identity_verified,2.003635e+06,0.020711,0.003846

See the whole table with table.as_data_frame()

In [62]:
lb3 =aml3.leaderboard

lb3.head(rows=lb3.nrows)

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
GBM_5_AutoML_8_20220224_114759,15772.1,125.587,15772.1,56.2628,0.446288
StackedEnsemble_BestOfFamily_6_AutoML_8_20220224_114759,15905.5,126.117,15905.5,61.4145,0.495763
StackedEnsemble_AllModels_2_AutoML_8_20220224_114759,16088.1,126.839,16088.1,58.913,nan
GBM_2_AutoML_8_20220224_114759,17819.9,133.491,17819.9,57.8743,nan
StackedEnsemble_BestOfFamily_3_AutoML_8_20220224_114759,17892.9,133.764,17892.9,57.2879,nan
GBM_grid_1_AutoML_8_20220224_114759_model_1,17894.4,133.77,17894.4,57.1248,0.447952
XGBoost_3_AutoML_8_20220224_114759,18058.6,134.382,18058.6,61.2301,nan
StackedEnsemble_BestOfFamily_2_AutoML_8_20220224_114759,18225.8,135.003,18225.8,63.2722,nan
GBM_3_AutoML_8_20220224_114759,18716.6,136.809,18716.6,58.5505,nan
StackedEnsemble_AllModels_3_AutoML_8_20220224_114759,19084.3,138.146,19084.3,59.2281,nan
StackedEnsemble_AllModels_1_AutoML_8_20220224_114759,19179.5,138.49,19179.5,64.0711,nan
DRF_1_AutoML_8_20220224_114759,19376,139.198,19376,56.6235,0.445519
StackedEnsemble_AllModels_6_AutoML_8_20220224_114759,19978.4,141.345,19978.4,63.5547,0.511669
XRT_1_AutoML_8_20220224_114759,19998,141.414,19998,59.5637,0.468358
StackedEnsemble_BestOfFamily_4_AutoML_8_20220224_114759,21147.5,145.422,21147.5,55.3304,nan
GBM_4_AutoML_8_20220224_114759,21278.3,145.871,21278.3,57.9523,nan
XGBoost_2_AutoML_8_20220224_114759,23244.3,152.461,23244.3,70.1009,nan
XGBoost_1_AutoML_8_20220224_114759,23621.2,153.692,23621.2,69.8878,nan
XGBoost_grid_1_AutoML_8_20220224_114759_model_2,24884.6,157.748,24884.6,69.9975,nan
XGBoost_grid_1_AutoML_8_20220224_114759_model_1,25232.9,158.849,25232.9,70.5868,nan
StackedEnsemble_BestOfFamily_1_AutoML_8_20220224_114759,26514,162.831,26514,67.2826,nan
StackedEnsemble_BestOfFamily_5_AutoML_8_20220224_114759,28700.5,169.412,28700.5,56.9824,nan
StackedEnsemble_AllModels_5_AutoML_8_20220224_114759,30037,173.312,30037,59.4455,nan
GBM_1_AutoML_8_20220224_114759,31599,177.761,31599,56.8534,0.459199
GLM_1_AutoML_8_20220224_114759,32638.8,180.662,32638.8,58.6449,nan
DeepLearning_1_AutoML_8_20220224_114759,32655.3,180.708,32655.3,58.4285,0.477195
StackedEnsemble_AllModels_4_AutoML_8_20220224_114759,32943.1,181.502,32943.1,57.1479,0.444564

In [64]:
aml4 = H2OAutoML()
aml4.train(x=X, y=y, training_frame=train)

H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='localhost', port=54321): Max retries exceeded with url: /3/Metadata/schemas/AutoMLV99 (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f7219024400>: Failed to establish a new connection: [Errno 111] Connection refused'))